<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="htmltitle">Uploadr</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/landing.css">
    
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</head>
<body onload="onload()">
  <div id="header">

    <h1 id="title">Uploadr</h1>
    <p id="subtitle">Upload Unlimited Files Under 5GB</p>
    <div id="statusDiv">
    <hr />
    <h1>Upload Not Found</h1>
    <p>Sorry, We Couldnt Find A Upload With This ID</p>
    <a href="/" target="_self"><button class="uploadButton" type="button" style="border:0">Go Back To Uploadr ></button></a>
    </div>
  </div>
</body>
</html>