<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="htmltitle">Uploadr | Saved Uploads</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/landing.css">
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jsc.js"></script>
    <script src="/js/saves.js" defer></script>
    <meta name="google" content="notranslate">
</head>
<body onload="onload()">
  <div id="header">

    <h1 id="title">Uploadr | Saved Uploads</h1>
    <p id="subtitle">Your Saved Uploads</p>

  </div>
  <div id="uploadDiv">

    <table id="saveTable" style="width:100%; color: white; border-collapse: collapse; max-width: 900px; margin-left:auto; margin-right:auto;">
      <tr class="subtitle">
        <th style="border-bottom: 1px solid white;">Name</th>
        <th style="border-bottom: 1px solid white;">Size</th> 
        <th style="border-bottom: 1px solid white;">Link</th>
        <th style="border-bottom: 1px solid white;">Remove</th>
      </tr>
    </table>

    </div>
</body>
</html>