@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
body {
    background-color: black;
}

#header {
    text-align: center;
}

#title {

    color: red;
    margin-top: 30px;

}

#subtitle {
    color: #00FF00;
}

.subtitle {
    color: #00FF00;
}

#uploadDiv {

    text-align: center;
    width: 100%;

}

.downloadButton {
    color: #fff;
    background-color: red;
    width: 200px;
    height: 25px;
}

.uploadButton {
    margin-left:auto;
    margin-right:auto;
    color: #fff;
    background-color: red;
    width: 200px;
    height: 25px;
}

.progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
.bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
.percent { position:absolute; display:inline-block; top:3px; left:48%;}

#statusDiv {
    color: white;
    text-align: center;
}

hr {

    border-color: #fff;

}

button:focus {outline:0;}

.downloadDiv {
        display: flex;
        justify-content: center;
}

.alertParent {
    display: flex;
    width: 300px;
    height: 75;
    font-family: 'Open Sans', sans-serif;
  }
  .alertNarrow {
    width: 75px;
    max-height: 75px;
    overflow: hidden;
    /* Just so it's visible */
  }
  .alertWide {
    flex: 1;
    padding-left: 5px;
    /* Grow to rest of container */
    /* Just so it's visible */
  }

  .alertimg {

    width: 100%;
    height: 100%;

  }

  .hidden {
      display: none;
  }

  .copyButton {
    color: #fff;
    background-color: red;
}

.btn:focus {
    outline: none;
  }